.ProductThumb{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 5px;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.ProductThumb:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}

.ProductThumb .imgWrapper{
    width: 100%;
    overflow: hidden;
}
.ProductThumb .imgWrapper img{
    transition: all 0.3s ease-in-out;
}

.ProductThumb:hover .imgWrapper img{
    transform: scale(1.1);
}

.ProductThumb .title{
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
}
.ProductThumb .price1{
    font-size: 25px;
    margin-right: 20px;
    opacity: 0.8;
}
.ProductThumb .oldprice1{
    font-size: 18px;
    opacity: 0.6;
    color: #000;
    text-decoration: line-through;
    margin-left: -10px;
}
.ProductThumb .button1{
    color: rgb(255, 0, 0);
    background-color: #fed1d1;
    font-size: 22px;
    padding: 5px 15px !important;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize !important;
}
.ProductThumb .button1:hover{
    background: rgba(250,105,105);
    color: #fff;
}